<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmos-changefeed-eus2.documents.azure.com:443/" />
    <add key="PrimaryKey" value="uKC2Tv6E4tsm2icnd2L7udcSCKCeIA2J33h7c1ZPN6EoYUyVGFzZ1FsyGrXVhFXz8BVzXUF4LX8RKQAO57aFdg==" />
  </appSettings>
</configuration>