################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demos/Common/Settings.cs
/Demos/Demonstrator/Settings.cs
/.vs/Ch-ch-ch-changes-delete/FileContentIndex
/.vs/Ch-ch-ch-changes-delete/v17
/.vs/slnx.sqlite
